body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#mainContent {
    padding: 50px;
}

h1 {
    color: #3498db;
}

p {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}
